{% extends 'authentication/templates.html' %}
{% load static %}


{% block title %}
    Login
{% endblock %}

{% block head %}
    <style>
        .register-section form input[type="submit"]#register{
            background:#000;
            color:#FFF;
            font-weight:bold;
            text-transform:uppercase;
            width:unset;
            padding:0.5rem 1.5rem;
            border:none;
            cursor:pointer;
        }
        .register-section form p input{
            width:100%;
        }
        .register-section form p:last-child{
            grid-column:1/3;
            margin-top:1rem;
        }
        .content-card.register-content{
            display:flex;
            justify-content:space-between;
            margin:2rem;
        }
        .content-card .register-content h1{
            font-size:1.875rem;
        }
        .register-section{
            width:100%;
        }
        .register-section form{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:10px;
        }
        .register-section form p{
            margin:0;
        }
        .register-section form p label{
            display:block;
            text-align:left;
            font-size:1rem;
            font-weight:bold;
        }
        .register-section form p input{
            width:100%;
        }
        .register-section form p:last-child{
            grid-column:1/3;
            margin-top:1rem;
        }
        ul.errorlist.nonfield{
            padding:0;
            margin:0;
            margin-bottom:1rem;
        }
        ul.errorlist.nonfield li{
            color:red;
            font-style:italic;
            list-style:none;
        }

        @media(min-width:769px){
            .content-card.register-content{
                flex-direction:row;
            }
        }
    </style>
{% endblock %}

{% block body %}
<div class="content-placeholder">
    <div class="content-card">
        <div class="content-container">
            <div class="content-card register-content">
                <div class="register-section">
                    <h1>Login</h1>
                    {{ form.non_field_errors }}
                    <form method="POST">
                        {% csrf_token %}
                        <p>
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email }}
                        </p>
                        <p>
                            <label for="{{ form.password.id_form_label }}">Password</label>
                            {{ form.password }}
                        </p>
                        <div class="has-no">
                            Has no account?
                            <a href="/authentication/register/">Sign up.</a>
                        </div>
                        <p>
                            <input type="submit" value="Login" id="register">
                        </p>
                    </form>
                    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}