{% extends 'dashboard/templates.html' %}
{% load static %}


{% block title %}
    Dashboard
{% endblock %}


{% block head %}
    <style>
        h1.welcome{
            font-size:1.5rem;
            margin-bottom:1rem;   
        }
        .wrapper{
            width:90%;
            margin:1.5rem auto;
        }
        .identitas .title{
            font-size:1rem;
            margin-bottom:0.5rem;
        }
        span.label{
            font-weight:bold;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="wrapper">    
        <h1 class="welcome">
            Selamat datang, {{ request.user.username }}
        </h1>

        <div class="identitas">
            <p class="title">
                Berikut adalah identitas-mu yang kamu telah tuliskan:
            </p>
            <p >
                <span class="label">Username: </span><span>{{ request.user.username }}</span>
            </p>
            <p >
                <span class="label">Nama: </span><span>{{ request.user.nama_depan }} {{ request.user.nama_belakang}}</span>
            </p>
            <p >
                <span class="label">Email: </span><span>{{ request.user.email }}</span>
            </p>
            <p >
                <span class="label">Title: </span><span>{{ request.user.title }}</span>
            </p>
            <p >
                <span class="label">Biografi: </span><span>{{ request.user.biography }}</span>
            </p>
        </div>
    </div>
{% endblock %}