{% extends 'authentication/templates.html' %}


{% block title %}
    Home
{% endblock %}

{% block head %}
    <style>
        h1{
            display:flex;
            font-size:1.5rem;
            margin:1.5rem auto;
            widtH:90%;
            text-align:justify;
        }
    </style>
{% endblock %}


{% block body %}
    <h1>
        Halo, welcome to MarBook landing page, ini adalah tugas untuk Story 9, yang berbasiskan tentang authentication, silahkan eksplorasi tab "login"
    </h1>
{% endblock %}
