<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .navbar-container{
            background:#333333;

        }
        nav.main-navbar{
            display:flex;
            justify-content:space-between;
            margin:0 auto;
            width:90%;
            padding:1.5rem 0;
            background:#333333;
        }
        .main-navbar .brand{
            font-size:1.5rem;
        }
        .main-navbar .nav-links{
            display:flex;
        }
        .nav-links .nav-link{
            font-size:1.5rem;
            margin:0 1.5rem;
        }
        .brand a, .nav-link a{
            color:white;
        }
    </style>
</head>
<body>
    <div class="navbar-container">
        <nav class="main-navbar">
            <div class="brand">
                <a href="/">
                MarBook
                </a>
            </div>
            <ul class="nav-links">
                <li class="nav-link"><a href="/">Home</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-link"><a href="/dashboard/">{{ request.user.username }}</a></li>
                <li class="nav-link"><a href="/authentication/logout/">Logout</a></li>
                {% else %}
                <li class="nav-link"><a href="/authentication/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</body>
</html>